<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Se a requisição já for para public, não faz nada
    RewriteCond %{REQUEST_URI} ^/public/
    RewriteRule ^(.*)$ $1 [L]

    # Caso contrário, manda tudo para a pasta public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>